@import '../../styles/common-dependencies';

.columns > div {
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-desktop) {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;

  @include breakpoint($bp-desktop) {
    flex: 1;
    order: unset;
  }
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}
